body{
    height: 98vh;
    font-family: 'Raleway', sans-serif;
    background-color:white;
}

.planner-box{
    display: grid;
    height: 90vh;
    width: 70%;
    margin-left:20%;
    grid-template-columns: 8% repeat(7, 1fr);
    grid-template-rows: 8% 92%;
    border: #f3f4f4 0.2rem solid;
    text-align: center;
}

.day-col{
    display: grid;
    grid-row: span 1;
    grid-column: span 1;
    border:  #f3f4f4 0.1rem solid;
    position: relative;
}
.day-row{
    display: grid;
    grid-row: span 1;
    grid-column: span 8;
    grid-template-columns: 8% repeat(7, 1fr);
    grid-template-rows: 1fr;
    background: #ECE3E2 ;
}
.time-col{
    display: grid;
    grid-row: span 1;
    grid-column: span 1;
    position: relative;
    background: #FBF8CE;
    border:  #f3f4f4 0.1rem solid;
}
.time-slot{
    position: absolute;
    transform: translate(-50%, 0%);
    left:50%;
    height: auto;
}


.task-block{
    display: block;
    position: absolute;
    width: 100%;
}
